<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Catastrophe War</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link rel="stylesheet" th:href="@{/css/auth/index.css}">
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.3.0/bundles/stomp.umd.min.js"></script>
	<script th:src="@{/js/auth/app/app.js}" type="module"></script>
	<script th:src="@{/js/auth/index.js}" type="module"></script>
</head>
<body>
	<div>
		<div class="title-area default-button">
			<h1>Catastrophe War</h1>
			<button id="logout" class="logout-button" type="button">ログアウト</button>
		</div>
		<div class="canvas-container">
			<canvas id="game-display" class="main-canvas" width="1235" height="600"></canvas>
			<div th:replace="~{auth/fragments/app/app :: topPage}"></div>
			<div th:replace="~{auth/fragments/gacha/gacha :: gachaPage}"></div>
			<div th:replace="~{auth/fragments/gacha/gacha-detail :: gachaDetailPage}"></div>
			<div th:replace="~{auth/fragments/gacha/gacha-result :: gachaResultPage}"></div>
			<div th:replace="~{auth/fragments/dispose/dispose :: disposePage}"></div>
			<div th:replace="~{auth/fragments/edit/edit-unit :: editUnitPage}"></div>
			<div th:replace="~{auth/fragments/edit/edit-stage :: editStagePage}"></div>
			<div th:replace="~{auth/fragments/status/status :: statusPage}"></div>
		</div>
	</div>
</body>
</html>