<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/guest/login/login.css}">
	<script th:src="@{/js/guest/login/login.js}" type="module"></script>
</head>
<body>
	<div class="login-container">
		<div th:if="${message}">
			<p th:text="${message}" class="logout-message"></p>
		</div>
		<div th:if="${error}">
			<p th:text="${error}" class="error-message"></p>
		</div>
		<div class="form-container">
			<form th:action="@{/login}" method="post" class="login-form half-margin">
				<label>ユーザー名:</label>
				<input id="username-input" type="text" name="username">
				<label>パスワード:</label>
				<input id = "password-input" type="password" name="password" class="half-margin">
				<button type="submit">ログイン</button>
			</form>
			<div class="account-button-area">
				<button id="user-login" type="button">ユーザー<br>アカウント</button>
				<button id="admin-login" type="button">管理者<br>アカウント</button>
			</div>
		</div>
	</div>
</body>
</html>