<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="editStagePage" class="edit-stage default-container default-label no-rap-label default-button hidden">
	<span class="edit-stage-comment">クリア状況</span>
	<div class="edit-stage-scroll">
		<ul id="edit-stage-list" class="default-scroll-list"></ul>
	</div>
	<div class="edit-stage-button">
		<button id="edit-stage-save" type="button">セーブ</button>
		<button id="go-to-edit-unit-from-edit-stage" type="button">表示切替</button>
		<button id="go-to-toppage-from-edit-stage" type="button">戻る</button>
	</div>
</div>
</html>