.gacha-detail-page{
	flex-direction: column;
	inset: 0 20%;
}

.gacha-detail-scroll{
	height: 80%;
}

.gacha-detail-scroll .left-aligned{
	width: 80%;
}

.gacha-detail-scroll .right-aligned{
	width: 20%;
}

.gacha-detail-button{
	width: 30%;
	margin-inline: auto;
}