.gacha-item{
	flex-direction: column;
	inset: 7% 1% 8% 69%;
}

.gacha-medal{
	display: block;
	height: 10%;
	flex-shrink: 0;
}

.gacha-scroll{
	height: 70%;
}

.gacha-lower{
	display: flex;
	gap: 2%;
}

.gacha-lower button{
	flex: 1;
}

.default-button .gacha-count-button{
	white-space: pre-wrap;
	line-height: 1;
	font-size: 25px;
}