.gacha-item{
	flex-direction: column;
	top: 10%;
	left: 69%;
	height: 85%;
	width: 30%;
}

.gacha-scroll{
	height: 75%;
}

.gacha-lower{
	display: flex;
	gap: 2%;
}

.gacha-lower button{
	flex: 1;
}

.default-button .gacha-count-button{
	white-space: pre-wrap;
	line-height: 1;
	font-size: 25px;
}