.toppage-item {
	inset: 0;
	position: absolute;
}

.toppage-button{
	inset: 88% 0 2%;
}

.toppage-button button {
	width: 20%;
}

.toppage-item .edit-button{
	font-size: 15px;
	height: 8%;
	width: 15%;
}