body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
	color: black;	
}

.login-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(240, 170, 80);
	padding: 0.5em;
}

.login-container button{
	cursor: pointer;
}

.logout-message{
	color: blue;
}

.error-message{
	color: red;
}

.form-container{
	align-items: stretch;
}

.login-form{
	display: flex;
	flex-direction: column;
}

.half-margin{
	margin-bottom: 0.5em;
}

.account-button-area{
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
}

.account-button-area button{
	white-space: pre;
	line-height: 1;
}

*{
	font-family: "Yu Mincho", "Yu Gothic", sans-serif;
	font-size: 15px;
	font-weight: bold;
}