<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="statusPage" class="status-page main-canvas default-container default-label default-button hidden">
	<div class="status-item-container default-container">
		<div class="status-container">
			<span class="long-width">【名称】</span>
			<span id="element-name" class="long-width"></span>
			<div class="weapon-container">
				<div class="status-image"></div>
				<div class="weapon-status-container">
					<span class="long-width">【武器ステータス】</span>
					<div id="weapon-status" class="weapon-grid status-gird">
						<span th:each="i : ${#numbers.sequence(1, 27)}"></span>
					</div>
				</div>
			</div>
			<span class="long-width">【ユニットステータス】</span>
			<div class="unit-container">
				<div id="core-status" class="core-gird unit-grid status-gird">
					<span th:each="i : ${#numbers.sequence(1, 12)}"></span>
				</div>
				<div id="cut-status" class="cut-gird unit-grid status-gird">
					<span th:each="i : ${#numbers.sequence(1, 24)}"></span>
				</div>
			</div>
		</div>
		<button id="go-to-original-from-status" class="status-button" type="button">戻る</button>
	</div>
</div>
</html>