.status-page{
	inset: 0;
}

.status-item-container{
	inset: 1% 0;
}

.status-item-container span{
	font-size: 18px;
	display: block;
	border: 1px solid rgb(0, 0, 0);
}

.status-left-container{
	display: flex;
	flex-direction: column;
	gap: 1%;
	width: 70%;
}

.status-weapon-container{
	display: flex;
	align-items: stretch;
}

.status-weapon-detail-container{
	width: 50%;
}

.status-unit-container{
	display: flex;
}

.status-image{
	position: relative;
	width: 50%;
	background-color:rgb(240, 240, 240);
	border: 1px solid rgb(0, 0, 0);
}

.status-image-style{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.status-gird{
	display: grid;
	grid-auto-flow: column;
}

.status-weapon-grid{
	grid-template-rows: repeat(9, auto);
}

.status-core-gird{
	width: 33.3%;
}

.status-cut-gird{
	width: 66.7%;
}

.status-unit-grid{
	grid-template-rows: repeat(6, auto);
}

.status-item-container .status-color-lightgray{
	background-color:rgb(192, 192, 192);
}

.status-item-container .status-color-yellow{
	background-color:rgb(255, 255, 0);
}

.status-right-container{
	display: flex;
	flex-direction: column;
	gap: 5%;
	width: 25%;
}

.status-explanation-container{
	display: block;
	align-items: stretch;
	height: 90%;
}

.status-explanation-item{
	text-align: center;
	height: 6%;
}

.status-explanation{
	height: 29%;
}

.status-button{
	margin-inline: auto;
	width: 66.7%;
}