.hidden{
	display: none !important;
}

.default-container{
	position: absolute;
	display: flex;
	justify-content: center;
	gap: 2%;
	z-index: 10;
}

.default-label span{
	font-family: "Yu Mincho", "Yu Gothic", sans-serif;
	font-size: 30px;
	font-weight: bold;
	background-color:rgb(240, 240, 240);
}

.no-rap-label span{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.default-button button{
	font-family: "Yu Mincho", "Yu Gothic", sans-serif;
	font-size: 30px;
	font-weight: bold;
	background-color:rgb(240, 240, 185);
	border: 10px solid;
	border-color: rgb(255, 255, 200) rgb(192, 192, 192) rgb(192, 192, 192) rgb(255, 255, 200);
	cursor: pointer;
}

.default-button button:active {
	border-color: rgb(192, 192, 192) rgb(255, 255, 200) rgb(255, 255, 200) rgb(192, 192, 192);
	transform: translate(3px, 3px);
}

.default-scroll{
	overflow-y: auto;
	flex-shrink: 0;
	min-height: 0;
	background-color:rgb(240, 240, 240);
}

.default-scroll-list{
	font-family: "Yu Mincho", "Yu Gothic", sans-serif;
	font-size: 30px;
	list-style: none;
	padding: 10px;
	margin: 0;
}

.default-scroll-list li{
	display: flex;
	border-bottom: 2px solid rgb(192, 192, 192);
	cursor: pointer;
}

.default-scroll-list li.selected {
	background-color:rgb(200, 200, 200);
	font-weight: bold;
}

.disable-scroll {
	overflow-y: hidden;
	pointer-events: none;
	user-select: none;
	opacity: 0.6;
}

.default-label label{
	font-family: "Yu Mincho", "Yu Gothic", sans-serif;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
}

.default-label input{
	font-family: "Yu Mincho", "Yu Gothic", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.right-aligned{
	display: inline-block;
	text-align: right;
}

.left-aligned{
	display: inline-block;
	text-align: left;
}