body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
	color: black;
}

#mainCanvas {
	border: 2px solid rgb(0, 0, 0);
	background-color: rgb(240, 170, 80);
	display: block;
}

.canvas-container{
	position: relative;
	display: inline-block;
}

.button-arrangement {
	position: absolute;
	bottom: 2%;
	left: 0%;
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1%;
	z-index: 3;
}

.button-arrangement button {
	height: 100%;
	width: 15%;
	font-family: "Yu Mincho", "Yu Gothic", sans-serif;
	font-size: 30px;
	font-weight: bold;
	background-color:rgb(240, 240, 185);
	border: 10px solid;
	border-color: rgb(255, 255, 200) rgb(192, 192, 192) rgb(192, 192, 192) rgb(255, 255, 200);
}

.button-arrangement button:active {
	border-color: rgb(192, 192, 192) rgb(255, 255, 200) rgb(255, 255, 200) rgb(192, 192, 192);
	transform: translate(3px, 3px);
}