<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Catastrophe War</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script th:src="@{/js/app.js}" defer></script>
</head>
<body>
	<div>
		<h1>Catastrophe War</h1>
		<div>
			<canvas id="mainCanvas" width="1235" height="600"></canvas>
			<div th:replace="~{fragments/app :: topPage}"></div>
			<div th:replace="~{fragments/gacha :: gachaPage}"></div>
		</div>
	</div>
</body>
</html>