.edit-item-scroll{
	width: 18%;
}

.edit-item-scroll-list{
	flex-direction: column;
}

.edit-stage-scroll{
	width: 80%;
}

.edit-stage-scroll-list label{
	width: 10%;
}

.edit-stage-scroll-list input{
	width: 2%;
}